/* Common Styles */
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Monoton&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-family: 'Bellota Text', cursive;
  font-weight: 400;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  overflow-x: hidden;
}

.section-heading {
  font-size: 10rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #999;
  opacity: 0.1;
  text-shadow: 2rem 2rem 4rem #aaa;

  text-align: center;
}

/* End of Common Styles */

/* Section 1 */
.section-1 {
  width: 100%;
  height: 100vh;
  background-color: #fff;

  position: relative;
}

.floating-bg {
  width: 150vw;
  height: 150vw;
  background-color: rgba(50,231,255, 0.8);
  border-radius: 45%;

  animation: rotate 30s infinite;

  position: absolute;
  top: -125vw;
  left: calc(50% - 75vw);
}

.floating-bg::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(50,231,255,0.1);
  border-radius: 40%;

  animation: rotate 30s infinite;

  position: absolute;
  top: 0;
  left: 0;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.navbar {
  position: relative;
  z-index: 20;
  top: 4rem;
  display: flex;
  justify-content: space-evenly;
}

.navbar-link {
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: #fff;
  word-wrap: break-word;
  text-align: center;

  width: 1.5rem;
  transition: all 0.5s;
}

.navbar-link:hover {
  width: 15rem;
  background-color: rgba(255,255,255,0.2);
  transition: all 2.5s;
}

.section-1-heading {
  font-size: 8rem;
  font-family: 'Monoton', cursive;
  text-shadow: 0.3rem 0.3rem 0.3rem #888;
  color: #fff;
  background-color: #fff;
  width: 85rem;
  text-align: center;
  padding: 0.8rem 1.6rem;
  border-radius: 0.8rem;
  opacity: 0.9;

  position: absolute;
  top: 18vw;
  left: 50%;
  transform: translateX(-50%);
}

.logo {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
}

.logo i {
  font-size: 15rem;
  color: rgba(50, 231, 255, 0.8);
  text-shadow: 0.1rem 0.1rem 0.2rem #ddd, -0.1rem -0.1rem 0.2rem #ddd;
}

/* End of Section 1 */

/* Section 2 */
.section-2 {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.customers-wrapper {
  height: 70%; /* define height for flex-end and flex-start to work */

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.customer {
  width: 35rem;
  height: 50rem;
  background-color: #eee;
  border-radius: 0.5rem;
  padding: 2rem;
  
  box-shadow: 1rem 1rem 2rem #ddd, -1rem -1rem 2rem #eee;
  transition: box-shadow 0.5s;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.customer:hover {
  box-shadow: 2rem 2rem 3rem #ddd, -2rem -2rem 3rem #eee;
}

.customer:first-child {
  align-self: flex-end;
}

.customer:last-child {
  align-self: flex-start;
}

.fa-quote-left {
  font-size: 4rem;
  color: #f08e0f;
}

.customer-text {
  font-size: 1.8rem;
  margin: 2.5rem 0;
  text-align: justify;
}

.customer-text::first-letter {
  margin-left: 1rem;
}

.customer-rating i {
  font-size: 2rem;
  color: #f08e0f;
}

.customer-img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  margin: 2rem 0;
  border-radius: 50%;
}

.customer-name {
  font-size: 2rem;
  font-weight: 700;
}

/* End of Section 2 */

/* Section 3 */
.section-3 {
  padding: 5rem 0;

  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.team-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70%;
}

.team-member {
  width: 35rem;
  background-color: #fffeee;
  padding: 1rem 1rem 2rem 1rem;
  box-shadow: 1rem 1rem 2rem #ddd, -1rem -1rem 2rem #eee;

  transition: opacity 0.5s;
  opacity: 0.7;

  position: relative;
}

.team-member:hover {
  opacity: 1;
}

.team-member:first-child {
  align-self: flex-start;
}

.team-member:last-child {
  align-self: flex-end;
}

.team-member-img {
  width: 100%;
  border-radius: 0.5rem;
}

.team-member-name {
  font-size: 2.3rem;
  font-weight: 700;
  color: #796717;
  margin-top: 2rem;
}

.team-member-name span {
  font-size: 1.7rem;
}

.team-member-skills {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 2rem 0;
}

.team-member-skills li {
  font-size: 1.5rem;
  color: #505050;
}

.projects-btn {
  background-color: #fab34a;
  color: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 5rem;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
}

.story {
  background-color: rgba(253, 69, 69, 0.9);
  padding: 2rem;
  
  border-radius: 50rem 0 50rem 50rem;
  transform: scale(0);
  transform-origin: top right;
  transition: all 0.5s;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* for this to work, parent must have a defined height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.story.change {
  transform: scale(1);
  border-radius: 0;
}

.story-btn {
  width: 4rem;
  height: 4rem;
  background-color: #222;
  border-radius: 5rem;
  padding: 0.5rem;
  cursor: pointer;

  transition: transform 0.5s;

  position: absolute;
  top: -1rem;
  right: -1rem;
  display: flex;
  align-items: center;
  z-index: 50;
}

.story-btn.change {
  transform: rotate(405deg);
}

.story-btn-line {
  width: 100%;
  height: 0.1rem;
  background-color: #fff;
}

.story-heading {
  font-size: 4rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 2rem;
}

.story-paragraph {
  font-size: 1.8rem;
  color: #eee;
  text-align: justify;
  letter-spacing: 0.1rem;
  text-indent: 2rem;
}

/* End of Section 3 */

/* Section 4 */
.section-4 {
  width: 100%;
  height: 130vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.form-container {
  background-color: #e5e9ff;
  box-shadow: 0.3rem 0.3rem 0.4rem #ccc, -0.1rem -0.1rem 0.4rem #ccc;
  border-radius: 0.5rem;
  /* tells how far the user is from the component */
  /* so any 3D transforms on its children will appear to have depth, as if viewed from 100 rem units away. */
  perspective: 100rem; 

  width: 80%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
}

.form-img {
  width: 55rem;
  background-color: rgba(50, 231, 255, 0.8);
  padding: 5rem;
  opacity: 0.8;
  border-radius: 0.5rem;

  box-shadow: -3rem 3rem 4rem #aaa;
  transform: rotateY(20deg);
  transition: all 0.5s;
}

.form-img:hover {
  transform: translateY(-2rem) translateX(2rem);
  box-shadow: -5rem 5rem 7rem #aaa;
  width: 60rem;
}

.contact-form {
  background-color: #fff;
  padding: 3rem;
  border-radius: 0.5rem;
  
  box-shadow: 3rem 3rem 4rem #aaa;
  transform: rotateY(-20deg);
  transition: all 0.5s;

  width: 45rem;
  display: flex;
  flex-direction: column;
}

.contact-form:hover {
  transform: translateY(-2rem) translateX(2rem);
  box-shadow: 5rem 5rem 7rem #aaa;
  width: 50rem;
}

.contact-form input,
.contact-form textarea {
  margin: 1rem;
  padding: 1rem;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  border: none;
  border-radius: 2rem;
  box-shadow: inset 0.1rem 0.1rem 0.2rem #ddd, inset -0.1rem -0.1rem 0.2rem #ddd;
}

.contact-form textarea {
  max-height: 15rem;
  min-height: 10rem;
  max-width: 100%;
  min-width: 70%;
}

.contact-form input[type="submit"] {
  color: #fff;
  font-weight: bolder;
  letter-spacing: 0.5rem;
  cursor: pointer;

  background-color: rgba(50, 231, 255, 0.8);
  transition: background-color 0.5s;
}

.contact-form input[type="submit"]:hover {
  background-color: #32e7ff;
}

.copyright {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  color: #444;
  margin-top: 5rem;
}

/* End of Section 4 */

.scroll-up-btn {
  width: 5rem;
  height: 5rem;
  
  border-radius: 50%;
  font-size: 1.6rem;
  color: #fff;

  background-color: rgba(50, 231, 255, 0.8);
  transition: background-color 0.5s;

  position: fixed;
  bottom: 5rem;
  right: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-up-btn:hover {
  background-color: #32e7ff;
}